* {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #202124;
}

#first_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28vh;
}

#div_background {
    border-radius: 10px;
    height: 400px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: lightgoldenrodyellow;
}

.num {
    color: black;
    font-family: Cascadia Mono;
    font-size: 200px;
    background: transparent;
}

.sec_div {
    background: transparent;
}

.btn {
    margin:  0px 50px 10px 62px;
    border: 2px solid black;
    font-size: 25px;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    cursor: pointer;
    background-color: lightgreen;
    color: black;
}


